/* ------ GENERAL RULE ------  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/background-binario.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}



/* ------ PAGE ------ */

.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}