
/* ------ IMPORT ------ */
/*--- font ---*/
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

/* ------ GENERAL RULE ------  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/background-binario.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    height: 100vh;    
}

/* ------ UTILITY ------ */

.paddigTopBottom_10 {
    padding: 10px 0;
}

.textDecoration_underline {
    text-decoration: underline;
}
/* ------ PAGE ------ */

.container {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

/* ------ HEADER ------*/

header {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0px 0px 20px;
    text-align: center;
    padding: 10px;
}

/* ------ MAIN ------ */

.content-page {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* ------ BOX ------ */

.box {
    width: 50%;
    display: flex;
    justify-content: center; 
}

.box-formatting {
    width: 50%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0px 0px 20px;
    transition: transform .4s;
}

.input-format {
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.box-formatting:hover {
    transform: scale(1.5);
}

/* --- Bigletto --- */

.title-tiket {
    font-size: 30px;
    text-transform: uppercase;
}

.contenuti ul {
    list-style: none;
}

.contenuti ul li {
    border-bottom: 2px solid #000;
    margin: 10px 0;
}

/*-----------------------------------------------------------------*/

.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}